# ==========================================
# POTATO CLOUD DASHBOARD CONFIGURATION
# ==========================================

# 1. Database
DATABASE_URL=mysql://user:password@host:3306/databasename

# 2. Security & Sessions
# Generate a random long string. (e.g. with openssl rand -base64 32)
NUXT_SESSION_PASSWORD=dein_mindestens_32_zeichen_langes_passwort
# Has to be the same just like in the wi-config.yml from the cloud.
JWT_SECRET=dein_gemeinsames_jwt_secret_vom_backend

# 3. Backend Connection
# The rest api key from the wi-config.yml
NUXT_CLOUD_TOKEN=dein_api_token_vom_backend
# The websocket url of your backend.
NUXT_PUBLIC_WS_BASE_URL=ws://localhost:8080